@use '../../partials/fonts' as *;
@use '../../partials/mixins' as *;
@use '../../partials/globals' as *;
@use '../../partials/variables' as *;

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
        margin-top: 3rem;
        margin-bottom: 6rem;
        font-size: 3rem;
    }
    &__button-layout {
        gap: 1rem;
        display: flex;
    }
    &__button {
        width: 40vw;
        height: 15rem;
        gap: 1rem;
        border-radius: 10px;
        border: 0;
        transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
        font-size: 3rem;
        font-weight: 700;
        color: $white;
        background-color: $blue;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.35);

        &:hover {
            background-color: $dark-blue;
            border: 2px solid $dark-blue;
    }
}
}