@font-face {
    font-family: 'Glegoo';
    src: url('../../src/typography/Glegoo-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Glegoo';
    src: url('../../src/typography/Glegoo-Bold.ttf') format('truetype');
    font-weight: 700; 
    font-style: normal;
}
