// Primary Colors
$blue: #385eaa;
$dark-blue: #1b3363;
// $indigo: #2E66E5; 
$white: #FFFFFF; 
$black: #000000;

// Secondary Colors
$slate: #5C667E; 
$cloud: #ced1d841;

// // Background Colors
// $graphite: #232940; // ***** Used for Top navigation header background, CTA button hover state background ******
// $grey: #F7F8F9; // ***** Used for Page background, table column header background, CTA background ******
// $graphite-modal: #232940c1;

// // Supporting Colors
// $green: #158463; //***** Used for the “In stock” label*****
// $red: #C94515; // ***** Used for the “Out of stock” label, error states & delete icon *****

// Breakpoints
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;
