// Primary Colors
$blue: #385eaa;
$dark-blue: #1b3363;
$edit: #ef6700cf;
$white: #FFFFFF; 
$black: #000000;
$green: #38821d;
$lgreen: #9de683;
$red: #ff0000;

// Secondary Colors
$slate: #a0a1a1; 
$cloud: #ced1d841;

// // Background Colors
$background: #e4e4e46e;

// Breakpoints
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;
